include configuraciones.pug
doctype html
html(lang="en")
    include head.pug
    body
        include header.pug
        block contenidos
        //- con block especificamos que vamos a poner contenido que vamos a utilizar
        include footer.pug