doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
        title Pug
    body
        header
            h1 PlatziGames
            a.boton Registro



//- h1 Titulo
//- p lorem ipsu
//- div
//-     span Boton 
//-     //- Identación sirve para volver a una etiqueta hija de otras  
//- div
//-     a Boton 2