//- La diferencia entre el include y el extend es que el include solo pone el codigo como estaba y el extend te permite agregar codigo adicional
extend componentes/plantilla.pug
block contenidos
        section.intro
            div.intro__imagen: img(src="images/imagen.png")
                //- img(src="images/imagen.png") Esta es la forma en que indicariamos que es un hijo del div, pero arriba tenemos la forma por medio de la interpolacion
            .intro__contenido
                //- h2= titulo
                h2 #{titulos[0]}
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    | Inventore similique deleniti non minus perferendis recusandae 
                    | neque accusamus dignissimos! Suscipit, placeat eaque? Assumenda 
                    | recusandae illum beatae deleniti numquam voluptatum doloribus odio!
                    span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati cupiditate corrupti ex tempore nisi qui minima magnam quod rerum nostrum esse, repellat nemo optio atque amet dolore! Voluptatibus, dolore enim.
                a.boton Leer Mas
        ul
            each titulo in titulos
                li #{titulo}
        main.contenido
            +caja('imagen.png', titulos[1], 'Lorem ipsum dolor')
            +caja('imagen.png', titulos[2], 'Lorem ipsum dolor')
            +caja('imagen.png', titulos[3], 'Lorem ipsum dolor')
            //- Esta es la forma de llamar a un mixin y pasarle parametros
            //- Tambien lo podriamos hacer de la siguiente manera:
            //- each titulo in titulos
            //-     +caja("imagen.png", titulo, 'Lorem ipsum dolor sit amet consectetur adipisicing elit')    
            



//- h1 Titulo
//- p lorem ipsu
//- div
//-     span Boton 
//-     //- Identación sirve para volver a una etiqueta hija de otras  
//- div
//-     a Boton 2